Source: print-manager
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>
Build-Depends: kde-sc-dev-latest (>= 4:4.10.2),
 cmake, debhelper (>= 8), pkg-kde-tools (>= 0.12),
 kdelibs5-dev (>= 4:4.10.2),
 pkg-config,
 libcups2-dev,
Standards-Version: 3.9.3

Package: print-manager
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: system-config-printer-udev
Description: printer config and monitor tool
 system-config-printer-kde is a KDE configuration module for installing and
 configuring printers and also contains a Plasma widget to manage print queues.
